
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <h1>Supid Coaching</h1>
      <div>
        <p>Ask your coach anything</p>
      </div>
      <div class="input-group">
        <form action="/answer" method="get">
          <input type="text" class="form-control" name="question" placeholder="what's new">
        </form>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">ASK</button>
        </span>
      </div><!-- /input-group -->
    </div>
  </div>
</div>
